ing the URLs and displaying messages:

{% extends "main.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{ request.user.username }}</h2>
<div>Здесь может содержаться персональная информация для каждого пользователя</div>


<!--<button>
    <a href="protect"> Хочу Authors!</a>
</button>-->
<form method="post" action="{% url 'sign:protect' %}">
    {% csrf_token %}
    <button type="submit">Хочу Authors!</button>
</form>

<button>
    <a href="logout">Выйти</a>
</button>

<!-- Display messages -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}



