{% extends 'flatpages/default.html' %}
{% load censor %}
{% load static %}
<!--{% load cache %}-->

{% block content %}

<h1><@@@***Articles***></h1>

<!-- {% cache 60 posts_cache_key %}-->
{% for post in posts %}
<a href="{% url 'articles_full_detail' id=post.id %}" class="btn btn-warning">Подробнее
    <h2>{{ post.title|censor }}</h2>
</a>
<p><strong>Published:</strong> {{ post.created_at|date:"d.m.Y" }}</p>
<p>{{ post.content|slice:":21"|censor }}</p>
<p><strong>Автор:</strong> {{ post.author }}</p>
{% endfor %}
<!--{% endcache %}-->

<form method="post" action="{% url 'subscribe_articles' %}">
    <input type="hidden" name="subscription_type" value="articles">
    <input type="hidden" name="next" value="{{ request.path }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <button type="submit">Subscribe to Articles</button>
</form>

{# Добавляем пагинацию на страницу #}

{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{# Include the CSS file with correct MIME type #}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

{% endblock content %}
