<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Обновление в подписки {{ post.author }}!</h1>
    <h1>{{ title }}</h1>
    <p>{{ content }}</p>
    <h1>ID</h1>{{ id }}
    <h1>URL</h1>{{  post.id }}
    {% if post_id %}
        <p>Чтобы прочитать полный текст, перейдите по ссылке: <a href="{{ post_url }}">Прочитать статью</a></p>
    {% else %}
        <p>Чтобы прочитать полный текст, перейдите по ссылке: <a href="{{ post_url }}">Прочитать статью</a>></p>
    {% endif %}
</body>
</html>
