{% extends 'flatpages/default.html' %}
{% load censor %}
{% load i18n %}
 <html lang="en">


{% block content %}

<h1><***News***></h1>

{% for post in posts %}
<a href="{% url 'news_full_detail' id=post.id %}" class="btn btn-warning">Подробнее
    <h2>{{ post.title|censor }}</h2>
</a>
<p><strong>Published:</strong> {{ post.created_at|date:"d.m.Y" }}</p>
<p>{{ post.content|slice:":21"|censor }}</p>
<p><strong>Автор:</strong> {{ post.author }}</p>
{% endfor %}

    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST-запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} >
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>

    {% for model in models %}
    <div class="model-class">
        {{ model.name }}
    </div>
    {% endfor %}

<form method="post" action="{% url 'subscribe_news' %}">
    <input type="hidden" name="subscription_type" value="news">
    <input type="hidden" name="next" value="{{ request.path }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <button type="submit">Subscribe to News</button>
</form>


{% endblock content %}