{% extends 'flatpages/default.html' %}
{% load censor %}

{% block content %}

<h1><***Posts***></h1>

<button onclick="window.location.href='{% url 'news_list' %}'">Show News</button>
<button onclick="window.location.href='{% url 'articles_list' %}'">Show Articles</button>

{% for post in posts %}
  <div>
    <h2>{{ post.title|censor }}</h2>
    <p><strong>Published:</strong> {{ post.created_at|date:"d.m.Y" }}</p>
    <p>{{ post.content|slice:":21"|censor }}</p>
    <p><strong>Author:</strong> {{ post.authorname }}</p>
  </div>
{% endfor %}

{# Pagination #}
{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}

